@{
    Menus PrivateMenu = Context.Items["PubMenus"] as Menus;
    WebUser PubUser = Context.Items["PubUser"] as WebUser;
}
<div menu-block>
    <div wliu logo>
        @{
            if (string.IsNullOrWhiteSpace(PubUser.ImageUrl))
            {
                <img src="~/resource/style/Images/login-user.png" style="width:40px; object-fit:contain; margin:auto;" />
            }
            else
            {
                <img wliu rowkey="@PubUser.Id" src="@PubUser.ImageUrl" style="width:60px; object-fit:contain; margin:auto;" />
            }
        }
        <span>@PubUser.FirstName @PubUser.LastName</span>
    </div>
    <div menu-upper>
        <ul wliu menu>
            @foreach (Menu tmenu in PrivateMenu.MenuSet2)
            {
                if (tmenu.Nodes.Count > 0)
                {
                    <li @(tmenu.MenuId == PrivateMenu.MenuId ? "selected" : "") nodes>
                        <a @(tmenu.Url == "" ? "" : "href=" + tmenu.Url)>@tmenu.Title</a>
                        <ul>
                            @foreach (Menu smenu in tmenu.Nodes)
                            {
                                if (smenu.MenuId.ToLower() == "space")
                                {
                                    <li space><div wliu border></div></li>
                                }
                                else
                                {
                                    <li @(smenu.MenuId == PrivateMenu.MenuId ? "selected" : "")><a @(smenu.Url == "" ? "" : "href=" + smenu.Url)>@smenu.Title</a></li>
                                }
                            }
                        </ul>
                    </li>
                }
                else
                {
                    if (tmenu.MenuId.ToLower() == "space")
                    {
                        <li space><div wliu border></div></li>
                    }
                    else
                    {
                        <li @(tmenu.MenuId == PrivateMenu.MenuId ? "selected" : "")><a @(tmenu.Url == "" ? "" : "href=" + tmenu.Url)>@tmenu.Title</a></li>
                    }

                }

            }
        </ul>
    </div>
    <div menu-lower>
        <ul wliu menu>
            @foreach (Menu tmenu in PrivateMenu.ProfileMenus)
            {
                if (tmenu.Nodes.Count > 0)
                {
                    <li @(tmenu.MenuId == PrivateMenu.MenuId ? "selected" : "") nodes>
                        <a @(tmenu.Url == "" ? "" : "href=" + tmenu.Url)>@tmenu.Title</a>
                        <ul>
                            @foreach (Menu smenu in tmenu.Nodes)
                            {
                                if (smenu.MenuId.ToLower() == "space")
                                {
                                    <li space><div wliu border></div></li>
                                }
                                else
                                {
                                    <li @(smenu.MenuId == PrivateMenu.MenuId ? "selected" : "")><a @(smenu.Url == "" ? "" : "href=" + smenu.Url)> @smenu.Title </a></li>
                                }
                            }
                        </ul>
                    </li>
                }
                else
                {
                    if (tmenu.MenuId.ToLower() == "space")
                    {
                        <li space><div wliu border></div></li>
                    }
                    else
                    {
                        <li @(tmenu.MenuId == PrivateMenu.MenuId ? "selected" : "")><a @(tmenu.Url == "" ? "" : "href=" + tmenu.Url)>@tmenu.Title</a></li>
                    }
                }

            }
        </ul>
    </div>
    <div menu-footer></div>
</div>
