@{Menus PubMenu = Context.Items["PubMenus"] as Menus;}
    <ul first>
        @foreach (Menu tmenu in PubMenu.MenuSet1)
        {
            if (tmenu.Nodes.Count > 0)
            {
                <li @(tmenu.MenuId == PubMenu.MenuId ? "selected" : "") submenu>
                    <a @(tmenu.Url == "" ? "" : "href=" + tmenu.Url)>@tmenu.Title</a>
                    <ul second>
                        @foreach (Menu smenu in tmenu.Nodes)
                        {
                            if (smenu.MenuId.ToLower() == "space")
                            {
                                <li space><div wliu border></div></li>
                            }
                            else
                            {
                                <li @(smenu.MenuId == PubMenu.MenuId ? "selected" : "") style="text-indent:@(string.IsNullOrWhiteSpace(smenu.Indent)?"0px":@smenu.Indent);"><a @(smenu.Url==""?"":"href=" + smenu.Url)>@smenu.Title</a></li>
                            }

                        }
                    </ul>
                </li>
            }
            else
            {
                <li @(tmenu.MenuId == PubMenu.MenuId ? "selected" : "")><a @(tmenu.Url == "" ? "" : "href=" + tmenu.Url)>@tmenu.Title</a></li>
            }
        }
    </ul>