@section scripts {
    <script>
        var viewData = new WLIU.ViewData();
        var gallery = new WLIU.Gallery();
        var app = angular.module("myApp", ["wliu_database"]);

        app.controller("mycontrl", function ($scope) {
            viewData.LinkScope($scope);
            gallery.LinkScope($scope);

            $scope.pubDetail = function () {
                let refKey = $scope.ViewData.database.tables.PubUser.CurrentKey();
                $scope.ViewData.database.tables.UserDetail.Clear();
                $scope.ViewData.database.tables.UserDetail.refKey = refKey;
                $scope.ViewData.database.tables.PubUserId.Clear();
                $scope.ViewData.database.tables.PubUserId.refKey = refKey;

                $scope.ViewData.database.tables.UserDetail.Reload().then(d => { $scope.$apply(); }).catch(e => { $scope.$apply(); });
                $scope.ViewData.database.tables.PubUserId.Reload().then(d => { $scope.$apply(); }).catch(e => { $scope.$apply(); });

                $scope.Gallery.Clear();
                $scope.Gallery.SetKey(refKey);
                $scope.Gallery.Get(1).then(d => {
                    $scope.$apply();
                }).catch(e => {
                    $scope.$apply();
                });

                $("#user_list").hide();
                $("#user_detail").show();
            }

            $scope.rowSaveAction = function () {
                let refKey = $scope.ViewData.database.tables.PubUser.CurrentKey();
                $scope.Gallery.SetKey(refKey);
                $scope.Gallery.SaveImage($scope.Gallery.CurrentGuid(), 1).then(d => {
                    $("img[wliu][rowkey='" + refKey + "']").attr("src", $scope.Gallery.CurrentContent($scope.Gallery.view));
                    $scope.$apply();
                }).catch(e => {
                    $scope.$apply();
                });
                $scope.ViewData.database.tables.PubUserId.refKey = refKey;
                $scope.ViewData.database.tables.PubUserId.SaveAll().then(d => {
                    $scope.$apply();
                }).catch(e => {
                    $scope.$apply();
                });
            };
            $scope.rowCancelAction = function () {
                $scope.ViewData.database.tables.PubUserId.CancelAll();
                $scope.goBack();
            };
            $scope.goBack = function () {
                $("#user_detail").hide();
                $("#user_list").show();
            }
        });
        viewData.Init("/Admin/api/Member/InitUserDetail");
        gallery.Init("/api/Image/InitGallery/PubUser?view=tiny&edit=large");
    </script>
}
<div ng-app="myApp" ng-controller="mycontrl">
    <ng-form>
        <div id="user_list">
            <fieldset>
                <legend>@Html.Words("search.by")</legend>
                <filter.label db="ViewData.database" tb="PubUser" col="search_name"></filter.label>
                <filter.textbox db="ViewData.database" tb="PubUser" col="search_name"></filter.textbox>
                <filter.label db="ViewData.database" tb="PubUser" col="search_email"></filter.label>
                <filter.textbox db="ViewData.database" tb="PubUser" col="search_email"></filter.textbox>
                <filter.label db="ViewData.database" tb="PubUser" col="search_phone"></filter.label>
                <filter.textbox db="ViewData.database" tb="PubUser" col="search_phone"></filter.textbox>
                <filter.label db="ViewData.database" tb="PubUser" col="search_idno"></filter.label>
                <filter.textbox db="ViewData.database" tb="PubUser" col="search_idno" action="scanCallback()"></filter.textbox>
                <wliu.search db="ViewData.database" tb="PubUser">Search</wliu.search>
            </fieldset>
            <div wliu table grow shrink underline style="margin-top:12px;">
                <div row>
                    <div cell style="background-color:#dddddd;">
                        <wliu.navi db="ViewData.database" tb="PubUser"></wliu.navi>
                    </div>
                </div>
                <div row>
                    <div head fixed style="width:40px;"></div>
                    <div head fixed style="width:72px;"><wliu.head db="ViewData.database" tb="PubUser" col="Photo"></wliu.head></div>
                    <div head medium><wliu.head db="ViewData.database" tb="PubUser" col="FirstName"></wliu.head></div>
                    <div head medium><wliu.head db="ViewData.database" tb="PubUser" col="FirstNameLegal"></wliu.head></div>
                    <div head medium><wliu.head db="ViewData.database" tb="PubUser" col="DisplayName"></wliu.head></div>
                    <div head fixed center style="width:60px;"><wliu.head db="ViewData.database" tb="PubUser" col="Gender"></wliu.head></div>
                    <div head large><wliu.head db="ViewData.database" tb="PubUser" col="Email"></wliu.head></div>
                    <div head small><wliu.head db="ViewData.database" tb="PubUser" col="Phone"></wliu.head></div>
                    <div head center fixed style="width:60px;"><wliu.head db="ViewData.database" tb="PubUser" col="Active"></wliu.head></div>
                    <div head small><wliu.head db="ViewData.database" tb="PubUser" col="CreatedTime"></wliu.head></div>
                    <div head fixed style="width:56px;">
                    </div>
                </div>
                <div row ng-repeat="row in ViewData.database.tables.PubUser.rows">
                    <div cell center fixed style="width:40px;">
                        <wliu.rowstatus db="ViewData.database" tb="PubUser" guid="{{row.guid}}"></wliu.rowstatus>
                    </div>
                    <div cell fixed style="width:72px;">
                        <wliu.imgcontent db="ViewData.database" tb="PubUser" guid="{{row.guid}}" col="Photo" rowkey="Id" hh="72px" view="tiny" edit="medium"></wliu.imgcontent>
                    </div>
                    <div cell medium>
                        <wliu.template db="ViewData.database" tb="PubUser" guid="{{row.guid}}" col="{FirstName} {LastName}<br>{DisplayName}"></wliu.template>
                    </div>
                    <div cell medium>
                        <wliu.template db="ViewData.database" tb="PubUser" guid="{{row.guid}}" col="{FirstNameLegal} {LastNameLegal}<br>{CertificateName}"></wliu.template>
                    </div>
                    <div cell medium>
                        <wliu.template db="ViewData.database" tb="PubUser" guid="{{row.guid}}" col="{AliasName}<br>{DharmaName}"></wliu.template>
                    </div>
                    <div cell fixed center style="width:60px;">
                        <wliu.stext db="ViewData.database" tb="PubUser" guid="{{row.guid}}" col="Gender"></wliu.stext>
                    </div>
                    <div cell large>
                        <wliu.template db="ViewData.database" tb="PubUser" guid="{{row.guid}}" col="{Email}<br>{UserName}"></wliu.template>
                    </div>
                    <div cell small>
                        <wliu.template db="ViewData.database" tb="PubUser" guid="{{row.guid}}" col="{Phone}<br>{Cell}"></wliu.template>
                    </div>
                    <div cell center fixed style="width:60px;">
                        <wliu.booltext db="ViewData.database" tb="PubUser" guid="{{row.guid}}" col="Active" yes="@Html.Words("status.active")" no="@Html.Words("status.inactive")"></wliu.booltext>
                    </div>
                    <div cell small>
                        <wliu.intdate db="ViewData.database" tb="PubUser" guid="{{row.guid}}" col="CreatedTime"></wliu.intdate>
                    </div>
                    <div cell fixed style="width:56px;">
                        <wliu.bicon db="ViewData.database" tb="PubUser" guid="{{row.guid}}" icons="detail" actiondetail="pubDetail()"></wliu.bicon>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------- User Detail ----------------------------->
        <div id="user_detail" style="display:none;margin-top:12px;">
            <a wliu button blue ng-click="goBack()">@Html.Words("go.back")</a>
            <table cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td align="center" style="position:relative;">
                        <cener>
                            <form.save h2 db="ViewData.database" tb="UserDetail" label="@Html.Words("button.save")" action="rowSaveAction()"></form.save>
                            <form.cancel h2 db="ViewData.database" tb="UserDetail" label="@Html.Words("button.cancel")" action="rowCancelAction()" style="margin-left:12px;"></form.cancel>
                        </cener>
                    </td>
                </tr>
            </table>

            <div wliu block color="brown">
                <div block head toggle>
                    <div block subject>@Html.Words("personal.information")</div>
                </div>
                <div block body>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td valign="top" width="39%">
                                <ul id="d11" wliu tab9 border color="brown">
                                    <li>@Html.Words("personal.information")</li>
                                </ul>
                                <div wliu tab9 body style="border-right:none;">
                                    <div style="height:400px;">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="50%" valign="top">
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="FirstName"></assm.textbox>
                                                </td>
                                                <td rowspan="3" width="50%" valign="top" style="padding-top:12px; padding-left:12px;">
                                                    <div style="display:block;">
                                                        <image.main gallery="Gallery" ww="160" hh="160" icons="upload,camera,cancel,delete"></image.main>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" valign="top" style="padding-top:6px;">
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="LastName"></assm.textbox>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" valign="top" style="padding-top:6px;">
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="DisplayName"></assm.textbox>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" valign="top" style="padding-top:6px;">
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="Phone">
                                                </td>
                                                <td width="50%" valign="top" style="padding-top:6px; padding-left:12px;">
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="Cell">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="padding-top:6px;">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td>
                                                                <assm.radio fixed border h2 db="ViewData.database" tb="UserDetail" col="Gender">
                                                            </td>
                                                            <td>
                                                                <assm.ymd db="ViewData.database" tb="UserDetail" col="Birth"></assm.ymd>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                            <td valign="top" width="30%">
                                <ul id="d12" wliu tab9 border color="brown">
                                    <li>@Html.Words("personal.information")</li>
                                </ul>
                                <div wliu tab9 body>
                                    <div style="height:400px;">
                                        <div wliu table grow shrink>
                                            <div row>
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="FirstNameLegal"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="LastNameLegal"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="CertificateName"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="padding-right:6px;">
                                                                <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="AliasName"></assm.textbox>
                                                            </td>
                                                            <td style="padding-left:6px;">
                                                                <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="DharmaName"></assm.textbox>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="padding-right:6px;">
                                                                <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="IDNumber"></assm.textbox>
                                                            </td>
                                                            <td style="padding-left:6px;">
                                                                <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="Occupation"></assm.textbox>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td valign="top" width="30%">
                                <ul id="d13" wliu tab9 border color="brown">
                                    <li>@Html.Words("address.information")</li>
                                </ul>
                                <div wliu tab9 body style="border-left:none;">
                                    <div style="height:400px;">
                                        <div wliu table grow shrink>
                                            <div row>
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="Address"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="City"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.select fixed border h2 db="ViewData.database" tb="UserDetail" col="Country">
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.fselect fixed border h2 db="ViewData.database" tb="UserDetail" col="State" fcol="Country">
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="Postal">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div wliu block color="sea">
                <div block head toggle>
                    <div block subject>@Html.Words("other.information")</div>
                </div>
                <div block body>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td valign="top" width="33%">
                                <ul id="d21" wliu tab9 border color="sea">
                                    <li>@Html.Words("login.information")</li>
                                    <li>@Html.Words("access.log")</li>
                                </ul>
                                <div wliu tab9 body style="border-right:none;">
                                    <div style="height:320px;">
                                        <div wliu table grow shrink>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="Email"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="padding-right:6px;">
                                                                <assm.password fixed border h2 db="ViewData.database" tb="UserDetail" col="Password"></assm.password>
                                                            </td>
                                                            <td style="padding-left:6px;">
                                                                <assm.confirm fixed border h2 db="ViewData.database" tb="UserDetail" col="Password"></assm.confirm>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.select fixed border h2 db="ViewData.database" tb="UserDetail" col="BranchId"></assm.select>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="padding-right:6px;" width="50%">
                                                                <assm.label fixed border h2 db="ViewData.database" tb="UserDetail" col="UserName"></assm.label>
                                                            </td>
                                                            <td style="padding-left:6px;" width="50%">
                                                                <assm.label fixed border h2 db="ViewData.database" tb="UserDetail" col="MemberId"></assm.label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:320px;">
                                        <div wliu table grow shrink>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.intdate fixed border h2 db="ViewData.database" tb="UserDetail" col="CreatedTime"></assm.intdate>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.intdate fixed border h2 db="ViewData.database" tb="UserDetail" col="LoginTime"></assm.intdate>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.label fixed border h2 db="ViewData.database" tb="UserDetail" col="LoginTotal"></assm.label>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.bool fixed db="ViewData.database" tb="UserDetail" col="Active" label="@Html.Words("status.active")"></assm.bool>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td valign="top" width="33%">
                                <ul id="d22" wliu tab9 border color="sea">
                                    <li>@Html.Words("emergency.information")</li>
                                    <li>@Html.Words("memo.information")</li>
                                </ul>
                                <div wliu tab9 body>
                                    <div style="height:320px;">
                                        <div wliu table grow shrink>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="EmergencyPerson"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="EmergencyRelation"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="EmergencyPhone"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="EmergencyCell"></assm.textbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:320px;">
                                        <div wliu table grow shrink>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <form.checkcom db="ViewData.database" tb="UserDetail" col="UserRole" icon="detail"></form.checkcom>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.textbox fixed border h2 db="ViewData.database" tb="UserDetail" col="Memo"></assm.textbox>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.ymd db="ViewData.database" tb="UserDetail" col="Member"></assm.ymd>
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.ymd db="ViewData.database" tb="UserDetail" col="Dharma"></assm.ymd>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td valign="top" width="33%">
                                <ul id="d21" wliu tab9 border color="sea">
                                    <li>@Html.Words("other.information")</li>
                                    <li>@Html.Words("id.card")</li>
                                </ul>
                                <div wliu tab9 body style="border-left:none;">
                                    <div style="height:320px;">
                                        <div wliu table grow shrink>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.select fixed border h2 db="ViewData.database" tb="UserDetail" col="Nationality">
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.select fixed border h2 db="ViewData.database" tb="UserDetail" col="Education">
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.select fixed border h2 db="ViewData.database" tb="UserDetail" col="MotherLang">
                                                </div>
                                            </div>
                                            <div row style="margin-top:6px;">
                                                <div cell>
                                                    <assm.select fixed border h2 db="ViewData.database" tb="UserDetail" col="Religion">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:320px;">
                                        <div wliu table grow shrink>
                                            <div row>
                                                <div head><wliu.head db="ViewData.database" tb="PubUserId" col="IdType"></wliu.head></div>
                                                <div head><wliu.head db="ViewData.database" tb="PubUserId" col="IdNumber"></wliu.head></div>
                                                <div head fixed style="width:30px;">
                                                    <wliu.micon db="ViewData.database" tb="PubUserId" icons="add"></wliu.micon>
                                                </div>
                                            </div>
                                            <div row ng-repeat="row in ViewData.database.tables.PubUserId.rows">
                                                <div cell>
                                                    <wliu.select db="ViewData.database" tb="PubUserId" guid="{{row.guid}}" col="IdType"></wliu.select>
                                                </div>
                                                <div cell>
                                                    <wliu.textbox db="ViewData.database" tb="PubUserId" guid="{{row.guid}}" col="IdNumber"></wliu.textbox>
                                                </div>
                                                <div cell fixed style="width:30px;">
                                                    <wliu.bicon db="ViewData.database" tb="PubUserId" guid="{{row.guid}}" icons="cancel,delete"></wliu.bicon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div wliu block color="portland">
                <div block head toggle>
                    <div block subject>@Html.Words("question.information")</div>
                </div>
                <div block body>
                    <ul id="d30" wliu tab9 border color="portland">
                        <li>@Html.Words("question.information")</li>
                    </ul>
                    <div wliu tab9 body>
                        <div>
                            <table cellpadding="2" cellspacing="2" style="width:100%;">
                                <tr>
                                    <td>
                                        <assm.checkbox h2 style="display:inline-block;width:auto;" db="ViewData.database" tb="UserDetail" col="MultiLang"></assm.checkbox>
                                        <form.label style="display:inline-block;width:auto;" db="ViewData.database" tb="UserDetail" col="MultiLang_Other"></form.label>
                                        <form.textbox style="display:inline-block;width:auto;" db="ViewData.database" tb="UserDetail" col="MultiLang_Other"></form.textbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" style="border-bottom:1px solid #cccccc;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <assm.checkbox h2 style="display:inline-block;width:auto;" fixed db="ViewData.database" tb="UserDetail" col="HearUs"></assm.checkbox>
                                        <form.label style="display:inline-block;width:auto;" db="ViewData.database" tb="UserDetail" col="HearUs_Other"></form.label>
                                        <form.textbox style="display:inline-block;width:auto;" db="ViewData.database" tb="UserDetail" col="HearUs_Other"></form.textbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" style="border-bottom:1px solid #cccccc;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <assm.checkbox h2 style="display:inline-block;width:auto;" fixed db="ViewData.database" tb="UserDetail" col="Symbol"></assm.checkbox>
                                        <form.label style="display:inline-block;width:auto;" db="ViewData.database" tb="UserDetail" col="Symbol_Other"></form.label>
                                        <form.textbox style="display:inline-block;width:auto;" db="ViewData.database" tb="UserDetail" col="Symbol_Other"></form.textbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" style="border-bottom:1px solid #cccccc;"></td>
                                </tr>
                                <tr>
                                    <td><assm.textarea fixed fit border h2 db="ViewData.database" tb="UserDetail" col="MedicalConcern"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div wliu block color="mint">
                <div block head toggle>
                    <div block subject>@Html.Words("class.history")</div>
                </div>
                <div block body>
                    <ul id="d30" wliu tab9 border color="mint">
                        <li>@Html.Words("class.history")</li>
                    </ul>
                    <div wliu tab9 body>
                        <div style="min-height:120px;">
                        </div>
                    </div>
                </div>
            </div>

            <div wliu block color="mint">
                <div block head toggle>
                    <div block subject>@Html.Words("payment.history")</div>
                </div>
                <div block body>
                    <ul id="d30" wliu tab9 border color="mint">
                        <li>@Html.Words("payment.history")</li>
                    </ul>
                    <div wliu tab9 body>
                        <div style="min-height:120px;">
                        </div>
                    </div>
                </div>
            </div>

            <table cellpadding="0" cellspacing="0" style="width:100%; margin-top:12px;margin-bottom:160px;">
                <tr>
                    <td align="center" style="padding:12px 0px;">
                        <form.save h2 db="ViewData.database" tb="UserDetail" label="@Html.Words("button.save")" action="rowSaveAction()"></form.save>
                        <form.cancel h2 db="ViewData.database" tb="UserDetail" label="@Html.Words("button.cancel")" style="margin-left:12px;" action="rowCancelAction()"></form.cancel>
                    </td>
                </tr>
            </table>
        </div>
        <!-------------------------------------------------------------------->
    </ng-form>


    <checkbox.diag db="ViewData.database"></checkbox.diag>
    <checkcom.diag db="ViewData.database" maxhh="250px"></checkcom.diag>
    <radio.diag db="ViewData.database"></radio.diag>

    <image.imgview></image.imgview>
    <image.imgedit gallery="Gallery"></image.imgedit>
    <image.maintext gallery="Gallery"></image.maintext>
    <image.camera gallery="Gallery"></image.camera>

    <image.scanner gallery="Gallery" ww="320px" maxww="30vw" pos="rt"></image.scanner>
    <image.scanview db="ViewData.database" tb="Member" photo="Photo" displayname="DisplayName" aliasname="AliasName" ww="300px" hh="300px" maxhh="80vh" maxww="80vw" duration="3000" pos=""></image.scanview>

    <table.error></table.error>
    <form.error></form.error>
    <wliu.loading oper="save"></wliu.loading>
    <wliu.loading oper="get"></wliu.loading>
    <wliu.tooltip></wliu.tooltip>
    <wliu.hint></wliu.hint>
</div>