@section scripts {
    <script src="~/resource/js/ckeditor_full/ckeditor.js" type="text/javascript"></script>
    <script>
        var viewData = new WLIU.ViewData();
        var app = angular.module("myApp", ["wliu_database"]);
        app.controller("mycontrl", function ($scope) {
            viewData.LinkScope($scope);
            $scope.SelectGuid = function (guid) {
                if ($("ul[wliu][tree][root]").tree("option", "select"))
                    viewData.database.tables.CourseDefine.rowGuid = guid;
            };
            $scope.AddNew = function () {
                setTimeout(() => {
                    $("li[node]").removeAttr("selected");
                    $(`li[node][guid="${viewData.database.tables.CourseDefine.CurrentGuid()}"]`).addAttr("selected");
                }, 20);
            };
            $scope.FreshSelect = function () {
                setTimeout(() => {
                    $("li[node]").removeAttr("selected");
                    $(`li[node][guid="${viewData.database.tables.CourseDefine.CurrentGuid()}"]`).addAttr("selected");
                }, 20);
            };
        });
        viewData.Init("/Admin/api/Course/InitCourseAll").then(d => {
            d.database.tables.CourseDefine.CKEditor = ["Detail_en", "Detail_cn"];
            $("ul[wliu][tree][root]").tree({ name: "CourseAll", icon: "folder", select: true });
            $(`li[node][guid='${d.database.tables.CourseDefine.CurrentGuid()}']`).addAttr("selected");
        });
    </script>
}
<div ng-app="myApp" ng-controller="mycontrl">
    <div class="container-fluid">
        <ng-form>
            <table border="0" cellpadding="2" cellspacing="2" style="width:100%;margin-top:20px;">
                <tr>
                    <td valign="top" width="30%" style="white-space:nowrap;">
                        <ul id="d1" wliu tab9 color="">
                            <li>@Html.Words("all.course")</li>
                        </ul>
                        <div wliu tab9 body style="border-right:none;">
                            <div>
                                <ul wliu tree root>
                                    <li nodes open ng-repeat="brow in ViewData.database.tables.Branch.rows">
                                        <tree.text short db="ViewData.database" tb="Branch" guid="{{brow.guid}}" col="Title"></tree.text>
                                        <ul wliu tree>
                                            <li nodes open ng-repeat="srow in ViewData.database.tables.Site.FilterRows({BranchId:brow.key})">
                                                <tree.text short db="ViewData.database" tb="Site" guid="{{srow.guid}}" col="Title"></tree.text>
                                                <tree.add db="ViewData.database" tb="CourseDefine" ftb="CourseDefine" kvs="{BranchId: brow.key, SiteId:srow.key}" actionadd="AddNew()"></tree.add>
                                                <ul wliu tree>
                                                    <li node guid="{{crow.guid}}" ng-click="SelectGuid(crow.guid)" ng-repeat="crow in ViewData.database.tables.CourseDefine.FilterRows({BranchId:brow.key, SiteId:srow.key})">
                                                        <tree.text short db="ViewData.database" tb="CourseDefine" guid="{{crow.guid}}" col="Title" style="min-width:120px;"></tree.text>
                                                        <tree.booltext db="ViewData.database" tb="CourseDefine" guid="{{crow.guid}}" col="Active"></tree.booltext>
                                                        <tree.bicon db="ViewData.database" tb="CourseDefine" guid="{{crow.guid}}" icons="save,cancel,delete" actionsave="FreshSelect()" actioncancel="FreshSelect()"></tree.bicon>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td valign="top" width="70%">
                        <ul id="d1" wliu tab9 color="awesome">
                            <li>@Html.Words("course.detail")</li>
                        </ul>
                        <div wliu tab9 body style="border-right:none;">
                            <div>
                                <form.status db="ViewData.database" tb="CourseDefine" style="float:left;"></form.status>
                                <center>
                                    <form.save h2 db="ViewData.database" tb="CourseDefine" label="@Html.Words("button.save")" action="FreshSelect()"></form.save>
                                    <form.cancel h2 db="ViewData.database" tb="CourseDefine" label="@Html.Words("button.cancel")" action="FreshSelect()"></form.cancel>
                                </center>
                                <div wliu table grow shrink>
                                    <div row style="margin-top:12px;">
                                        <div cell>
                                            <assm.textbox fixed border h2 db="ViewData.database" tb="CourseDefine" col="Title_en"></assm.textbox>
                                        </div>
                                        <div cell>
                                            <assm.textbox fixed border h2 db="ViewData.database" tb="CourseDefine" col="Title_cn"></assm.textbox>
                                        </div>
                                    </div>
                                    <div row style="margin-top:12px;">
                                        <div cell>
                                            <table>
                                                <tr>
                                                    <td align="left" width="33%"><assm.bool fixed border h2 db="ViewData.database" tb="CourseDefine" col="IsFree"></assm.bool></td>
                                                    <td align="left" width="33%" style="padding-left:10px;"><assm.textbox fixed small border h2 db="ViewData.database" tb="CourseDefine" col="FeeAmount"></assm.textbox></td>
                                                    <td align="left" width="33%" style="padding-left:10px;"><assm.select fixed small border h2 db="ViewData.database" tb="CourseDefine" col="Currency"></assm.select></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div cell>
                                            <table cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td width="25%" valign="top" style="padding-left:10px;"><assm.textbox fixed border h2 db="ViewData.database" tb="CourseDefine" col="Category"></assm.textbox></td>
                                                    <td width="25%" valign="top" style="padding-left:10px;"><assm.textbox fixed border h2 db="ViewData.database" tb="CourseDefine" col="Sort"></assm.textbox></td>
                                                    <td width="50%" valign="top" style="padding-left:10px;"><assm.bool h2 db="ViewData.database" tb="CourseDefine" col="Active"></assm.bool></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div row style="margin-top:12px;">
                                        <div cell>
                                            <assm.select fixed border h2 db="ViewData.database" tb="CourseDefine" col="AgreeId"></assm.select>
                                        </div>
                                        <div cell>
                                        </div>
                                    </div>
                                    <div row style="margin-top:12px;">
                                        <div cell style="padding-top:10px;">
                                            <ul id="d1" wliu tab9 border color="mint">
                                                <li>@Html.Words("detail.en")</li>
                                                <li>@Html.Words("detail.cn")</li>
                                            </ul>
                                            <div wliu tab9 body>
                                                <div>
                                                    <form.ckeditor db="ViewData.database" tb="CourseDefine" col="Detail_en" hh="300px"></form.ckeditor>
                                                </div>
                                                <div>
                                                    <form.ckeditor db="ViewData.database" tb="CourseDefine" col="Detail_cn" hh="300px"></form.ckeditor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div row style="margin-top:12px;">
                                        <div cell center>
                                            <form.save h2 db="ViewData.database" tb="CourseDefine" label="@Html.Words("button.save")" action="FreshSelect()"></form.save>
                                            <form.cancel h2 db="ViewData.database" tb="CourseDefine" label="@Html.Words("button.cancel")" action="FreshSelect()"></form.cancel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </ng-form>
    </div>

    <table.error></table.error>
    <form.error></form.error>

    <wliu.tooltip></wliu.tooltip>
    <wliu.hint></wliu.hint>
    <wliu.loading oper="get"></wliu.loading>
    <wliu.loading oper="save"></wliu.loading>

</div>
