@model Table
@{
    WebUser PubUser = Context.Items["PubUser"] as WebUser;
}
@section scripts {
    <script src="https://www.paypal.com/sdk/js?client-id=AWlRBR75SpX0gnewFUFC-v9PQmM6fmuDpKjfSK0X_3ILNz9Pfi4Il7EmEHchQLHcFC-ghUtfEHDxA0oQ&currency=@Model.Rows[0].GetValue("Currency")"></script>
    <script>

        var viewData = new WLIU.ViewData();
        var app = angular.module("myApp", ["wliu_database", "wliu_layout"]);

        app.controller("mycontrl", function ($scope) {
            viewData.LinkScope($scope);
        });
        viewData.Init("/api/ClassEvent/InitClassPayment/@(PubUser.Items["ClassId"].GetInt()??0)").then(d => {
            if (@Model.Rows.Count> 0) {
                if ( @(Model.Rows[0].GetValue("IsFree").GetInt()??0) == 1 || @(Model.Rows[0].GetValue("OweAmount").GetFloat()??0) <= 0) {
                    if ( @(Model.Rows[0].GetValue("IsEnroll").GetInt()??0)== 1) {
                        //console.log("Here , enroll already");
                        $("#message>p.message-body").html(
                            Words("welcome.shaolin") + " @PubUser.FirstName" + " @PubUser.LastName" + ', ' + Words("you.are.enrolled"));
                        $("#message").removeClass("wliu-info wliu-warn wliu-success").addClass("wliu-info").show();
                    } else {
                        //console.log("Here , enroll okey");
                        d.database.tables.ClassEnroll.NewRowB();
                        d.database.tables.ClassEnroll.refKey = @PubUser.Id;
                        d.database.tables.ClassEnroll.CurrentColumn("ClassId").value = @(PubUser.Items["ClassId"].GetInt()??0);
                        //console.log(viewData.database.tables.ClassEnroll);
                        d.database.tables.ClassEnroll.SaveAll().then(d => {
                            $("#message>p.message-body").html(Words("welcome.shaolin") + " @PubUser.FirstName" + " @PubUser.LastName" + ', ' + Words("you.enroll.success"));
                            $("#message").removeClass("wliu-info wliu-warn wliu-success").addClass("wliu-info").show();
                            $scope.$apply();
                        }).catch(e => { $scope.$apply(); });
                    }
                }
                else
                {
                    // need to pay
                }
            }
            else
            {
                window.location.href = "/ClassEvent/ClassList";
            }
        });

        function goBack() {
            window.location.href = "/ClassEvent/ClassList";
        }

        $(function () {
            if ( (@(Model.Rows[0].GetValue("IsFree").GetInt()??0) == 1 || @(Model.Rows[0].GetValue("OweAmount").GetFloat()??0) <= 0) == false )
            {
                //console.log("Class Id:" +  @(PubUser.Items["ClassId"].GetInt()??0) );
                //console.log("User Id:" +  @PubUser.Id );
                //console.log("Is Free:" +  @(Model.Rows[0].GetValue("IsFree").GetInt()??0) );
                //console.log("Owe Amount:" + @Model.Rows[0].GetValue("OweAmount").GetFloat());
                //console.log("Currency:@Model.Rows[0].GetValue("Currency")");

                let oweAmount = @(Model.Rows[0].GetValue("OweAmount").GetFloat()??0);
                let currency = "@Model.Rows[0].GetValue("Currency")";
                //----------------------------------------------------------------------------------------------------
                // Add your client ID and secret
                var PAYPAL_CLIENT = 'AWlRBR75SpX0gnewFUFC-v9PQmM6fmuDpKjfSK0X_3ILNz9Pfi4Il7EmEHchQLHcFC-ghUtfEHDxA0oQ';
                var PAYPAL_SECRET = 'EM7h37mMoW5BLFy-sl9uf3FHu88Kl_tJ3QqtraFVV9ODcgX6GNqTH02uJJlwdaJJdW6j8Ud8n07vAyRD';
                // Point your server to the PayPal API
                var PAYPAL_ORDER_API = 'https://api.paypal.com/v2/checkout/orders/';

                paypal.Buttons({
                    onCancel: function (data) {
                        //console.log("Payment Cancel");
                        //console.log(data);
                        $("#payment_message>p.message-body").html(Words("payment.canceled"));
                        $("#payment_message").removeClass("wliu-info wliu-warn wliu-success").addClass("wliu-warn").show();
                        $("#payment_message>a.btn").hide();

                    },
                    createOrder: function (data, actions) {
                        // This function sets up the details of the transaction, including the amount and line item details.
                        return actions.order.create({
                            intent: 'CAPTURE',
                            purchase_units: [{
                                amount: {
                                    value: oweAmount,
                                    currency_code: "@Model.Rows[0].GetValue("Currency")"
                                }
                            }],
                        });
                    },
                    onApprove: function (data, actions) {
                        // This function captures the funds from the transaction.
                        return actions.order.capture().then(function (details) {
                            // This function shows a transaction success message to your buyer.
                            //console.log("Payment Success");
                            //console.log(details);
                            $('#paypal-button-container').hide();
                            $("#payment_message>p.message-body").html("");
                            $("#payment-message").hide();
                            $("#payment_message>p.message-body").html(Words("payment.success"));
                            $("#payment_message").removeClass("wliu-info wliu-warn wliu-success").addClass("wliu-success").show();
                            $("#payment_message>a.btn").show();

                            //console.log(JSON.stringify(details));
                            viewData.database.tables.Payment.NewRowB();
                            viewData.database.tables.Payment.refKey = @PubUser.Id;
                            viewData.database.tables.Payment.CurrentColumn("ClassId").value = @(PubUser.Items["ClassId"].GetInt()??0);
                            viewData.database.tables.Payment.CurrentColumn("UserId").value =  @PubUser.Id;
                            viewData.database.tables.Payment.CurrentColumn("Payer").value =  details.payer.name.given_name + " " + details.payer.name.surname;
                            viewData.database.tables.Payment.CurrentColumn("PaidDate").value =  new Date(details.purchase_units[0].payments.captures[0].create_time).ticks();
                            viewData.database.tables.Payment.CurrentColumn("PaidAmount").value = details.purchase_units[0].payments.captures[0].amount.value;
                            viewData.database.tables.Payment.CurrentColumn("Currency").value = details.purchase_units[0].payments.captures[0].amount.currency_code;
                            viewData.database.tables.Payment.CurrentColumn("PaidInvoice").value = details.purchase_units[0].payments.captures[0].id;
                            viewData.database.tables.Payment.CurrentColumn("PaidMethod").value =  "Paypal";
                            viewData.database.tables.Payment.CurrentColumn("IsSuccess").value =  true;
                            viewData.database.tables.Payment.CurrentColumn("PaidStatus").value =  details.purchase_units[0].payments.captures[0].status;
                            viewData.database.tables.Payment.CurrentColumn("TrackNumber").value = details.id;
                            viewData.database.tables.Payment.CurrentColumn("TrackMessage").value = JSON.stringify(details);


                            viewData.database.tables.Payment.SaveAll().then(d => {
                                    //$("#message>p.message-body").html(Words("welcome.shaolin") + "@PubUser.FirstName" + " " + "@PubUser.LastName" + ", " + Words("you.are.enrolled"));
                                    //$("#message").removeClass("wliu-info wliu-warn").addClass("wliu-info").show();
                                    $scope.$apply();
                            }).catch(e => { $scope.$apply(); });

                        });
                    }
                }).render('#paypal-button-container');
                //----------------------------------------------------------------------------------------------------

            }

        });



    </script>
}
<div ng-app="myApp" ng-controller="mycontrl">
    <ng-form>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <layout.card2 db="ViewData.database"
                                              tb="ClassList"
                                              guid="{{ViewData.database.tables.ClassList.rowGuid}}"
                                              imgsrc="Photo"
                                              subject="ClassTitle"
                                              number="ClassName"
                                              start="StartDate"
                                              end="EndDate"
                                              site="SiteTitle"
                                              address="Address"
                                              phone="Phone"
                                              notes="ClassNotes"
                                              email="Email"
                                              isfree="IsFree"
                                              amount="FeeAmount"
                                              payment="OweAmount"
                                              currency="Currency"
                                              discount="Discount"
                                              discountamount="DiscountAmount"
                                              discounttext="DiscountText">
                                </layout.card2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="message" style="display:none;">
                                    <p class="message-body"></p>
                                    <a href="javascript:goBack()" class="btn btn-info">@Html.Words("button.back.classlist")</a>
                                </div>
                                <div id="payment_message" style="display:none;">
                                    <p class="message-body"></p>
                                    <a href="javascript:goBack()" style="display:none;" class="btn btn-info">@Html.Words("button.back.classlist")</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display:block; max-width:420px;padding-top:12px;">
                                    <div id="paypal-button-container"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label wliu text h2>@Html.Words("class.schedule")</label>
                    <div wliu table grow shrink underline>
                        <div row>
                            <div head fixed style="width:40px;"></div>
                            <div head fixed style="width:100px;"><wliu.head db="ViewData.database" tb="ClassDetail" col="ClassDate"></wliu.head></div>
                            <div head fixed style="width:80px;"><wliu.head db="ViewData.database" tb="ClassDetail" col="StartTime"></wliu.head></div>
                            <div head fixed style="width:80px;"><wliu.head db="ViewData.database" tb="ClassDetail" col="EndTime"></wliu.head></div>
                            <div head medium wliu desktop><wliu.head nowrap db="ViewData.database" tb="ClassDetail" col="Title"></wliu.head></div>
                        </div>
                        <div row ng-repeat="row in ViewData.database.tables.ClassDetail.rows">
                            <div cell center fixed style="width:40px;">
                                <wliu.rowstatus db="ViewData.database" tb="ClassDetail" guid="{{row.guid}}"></wliu.rowstatus>
                            </div>
                            <div cell fixed style="width:100px;">
                                <wliu.text db="ViewData.database" tb="ClassDetail" guid="{{row.guid}}" col="ClassDate"></wliu.text>
                            </div>
                            <div cell fixed style="width:80px;">
                                <wliu.text db="ViewData.database" tb="ClassDetail" guid="{{row.guid}}" col="StartTime"></wliu.text>
                            </div>
                            <div cell fixed style="width:80px;">
                                <wliu.text db="ViewData.database" tb="ClassDetail" guid="{{row.guid}}" col="EndTime"></wliu.text>
                            </div>
                            <div cell medium nowrap desktop>
                                <wliu.text db="ViewData.database" tb="ClassDetail" guid="{{row.guid}}" col="Title"></wliu.text>
                            </div>
                        </div>
                        <div row>
                            <wliu.total db="ViewData.database" tb="ClassDetail"></wliu.total>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
</div>
