@model Table
@{
    WebUser PubUser = Context.Items["PubUser"] as WebUser;
    GTable siteList = PubUser.Items["SiteList"] as GTable;
}
@section scripts {
    <script src="https://www.paypal.com/sdk/js?client-id=AWlRBR75SpX0gnewFUFC-v9PQmM6fmuDpKjfSK0X_3ILNz9Pfi4Il7EmEHchQLHcFC-ghUtfEHDxA0oQ&currency=CAD"></script>
    <script>
        function goBack() {
            window.location.href = "/ClassEvent/ClassList";
        }

        $(function () {
            paypal.Buttons({
                    onCancel: function (data) {
                        $("#payment_message>p.message-body").html(Words("payment.canceled"));
                        $("#payment_message").removeClass("wliu-info wliu-warn wliu-success").addClass("wliu-warn").show();
                        $("#payment_message>a.btn").hide();
                    },
                    createOrder: function (data, actions) {
                        // This function sets up the details of the transaction, including the amount and line item details.
                        return actions.order.create({
                            intent: 'CAPTURE',
                            purchase_units: [{
                                amount: {
                                    value: $("#dAmount").val()?$("#dAmount").val():0,
                                    currency_code: "CAD"
                                }
                            }],
                        });
                    },
                    onApprove: function (data, actions) {
                        // This function captures the funds from the transaction.
                        return actions.order.capture().then(function (details) {
                            $('#paypal-button-container').hide();
                            $("#payment_message>p.message-body").html("");
                            $("#payment-message").hide();
                            $("#payment_message>p.message-body").html(Words("donate.success"));
                            $("#payment_message").removeClass("wliu-info wliu-warn wliu-success").addClass("wliu-success").show();
                            $("#payment_message>a.btn").show();


                            let postData = {};
                            postData["UserId"]      = @PubUser.Id;
                            postData["PaidAmount"]  = details.purchase_units[0].payments.captures[0].amount.value;
                            postData["Currency"]    = details.purchase_units[0].payments.captures[0].amount.currency_code;
                            postData["Payer"]       =  details.payer.name.given_name + " " + details.payer.name.surname;
                            postData["PaidDate"]    =  new Date(details.purchase_units[0].payments.captures[0].create_time).ticks();
                            postData["PaidInvoice"] = details.purchase_units[0].payments.captures[0].id;
                            postData["PaidMethod"]  =  "Paypal";
                            postData["IsSuccess"]   =  true;
                            postData["PaidStatus"]  =  details.purchase_units[0].payments.captures[0].status;
                            postData["TrackNumber"] = details.id;
                            postData["TrackMessage"] = JSON.stringify(details);

                            postData["FullName"]   = $("#FullName").val();
                            postData["Email"]       = $("#Email").val();
                            postData["SiteId"]      = $("#SiteId").val();
                            postData["Notes"]       = $("#Notes").val();

                            console.log(postData);

                            AJAX.Post("/api/ClassEvent/SaveDonate", postData).then(d => {
                                $("#wliuHint").hint("show", "success", Words("donate.success"));
                            }).catch(d => {
                                $("#wliuHint").hint("show", "warning", Words("donate.success"));
                            });

                        });
                    },
                    onError : function(err){
                        $("#payment_message>p.message-body").html(Words("donate.error"));
                        $("#payment_message").removeClass("wliu-info wliu-warn wliu-success").addClass("wliu-warn").show();
                        $("#payment_message>a.btn").hide();
                    }
            }).render('#paypal-button-container');

            $("input[name='donate_opt']").off("click.donate").on("click.donate", function (evt) {
                if ($(this).val() == "other") {
                    $("#text_opt").hide();
                    $("#span_opt").show();
                    $("#dAmount").val($("#donate_amount").html());
                } else {
                    $("#span_opt").hide();
                    $("#text_opt").show();
                    $("#dAmount").val($(this).val());
                    $("#donate_amount").html($(this).val());
                }
            });


            // fixed firefox bug:  cookie remember select
            if ($("input[name='donate_opt']:checked").val() == "other") {
                $("#text_opt").hide();
                $("#span_opt").show();
                $("#dAmount").val($("#donate_amount").html());
            } else {
                $("#span_opt").hide();
                $("#text_opt").show();
                $("#dAmount").val($("input[name='donate_opt']:checked").val());
                $("#donate_amount").html($("input[name='donate_opt']:checked").val());
            }
            

        });

        function changeAmount( amt ) {
            $("#donate_amount").html(amt);
        }
    </script>
}
<div>
    <ng-form>
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="50%" valign="top" style="padding-right:32px;">
                    <table cellpadding="0" cellspacing="6" width="100%">
                        <tr>
                            <td colspan="2" style="padding-top:12px;">
                                <label wliu text h2 bold>@Html.Words("donation")</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top:12px;">
                                @{
                                    if (PubUser.Id <= 0)
                                    {
                                       <a style="font-size:18px;" href="/Home/SignIn?url=/ClassEvent/Donate">@Html.Words("is.a.member") <span style="color:#0275d8;text-decoration:underline;">@Html.Words("sign.in")</span></a>
                                    }
                               }
                            </td>
                        </tr>
                        <tr>
                            <td width="12%" valign="top" style="padding-top:12px;white-space:nowrap;">
                                <label wliu text>@Html.Words("col.fullname")</label>
                            </td>
                            <td style="padding-left:10px; padding-top:12px;" valign="top">
                                <input wliu fit id="FullName" type="text" value="@(PubUser.FirstName + ' ' + PubUser.LastName)" />
                            </td>
                        </tr>
                        <tr>
                            <td width="12%" valign="top" style="padding-top:12px;white-space:nowrap;">
                                <label wliu text>@Html.Words("col.email")</label>
                            </td>
                            <td style="padding-left:10px; padding-top:12px;" valign="top">
                                <input wliu fit id="Email" type="text" value="@PubUser.Email" />
                            </td>
                        </tr>
                        <tr>
                            <td width="12%" valign="top" style="padding-top:12px;white-space:nowrap;">
                                <label wliu text>@Html.Words("col.branch")</label>
                            </td>
                            <td style="padding-left:10px; padding-top:12px;" valign="top">
                                @Html.WLSelect("SiteId", siteList, "fit", (PubUser.Id == 0 ? 1 : PubUser.Id))
                            </td>
                        </tr>
                        <tr>
                            <td width="12%" valign="top" style="padding-top:12px;white-space:nowrap;">
                                <label wliu text>@Html.Words("memo.information")</label>
                            </td>
                            <td style="padding-left:10px; padding-top:12px;" valign="top">
                                <textarea wliu fit id="Notes" style="width:100%;height:60px;"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td width="12%" valign="middle" style="padding-top:12px;white-space:nowrap;">
                                <label wliu text>@Html.Words("col.option")</label>
                            </td>
                            <td style="padding-left:10px; padding-top:12px;" valign="top">
                                <ul style="list-style-type:none;padding:0px;margin:0px;">
                                    <li style="display:inline-block; margin:6px 2px;"><input id="opt_1" name="donate_opt" type="radio" wliu value="10" /><label wliu radio for="opt_1"> $ 10</label></li>
                                    <li style="display:inline-block; margin:6px 2px;"><input id="opt_2" name="donate_opt" type="radio" wliu value="20" /><label wliu radio for="opt_2"> $ 20</label></li>
                                    <li style="display:inline-block; margin:6px 2px;"><input id="opt_3" name="donate_opt" type="radio" wliu value="50" /><label wliu radio for="opt_3"> $ 50</label></li>
                                    <li style="display:inline-block; margin:6px 2px;"><input id="opt_4" name="donate_opt" type="radio" wliu value="100" /><label wliu radio for="opt_4"> $ 100</label></li>
                                    <li style="display:inline-block; margin:6px 2px;"><input id="opt_5" name="donate_opt" type="radio" wliu value="other" /><label wliu radio for="opt_5"> @Html.Words("other.option")</label></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="12%" valign="top" style="padding-top:12px;white-space:nowrap;">
                                <label wliu text h2>@Html.Words("col.paid.amount")</label>
                            </td>
                            <td style="padding-left:10px; padding-top:12px;" valign="top">
                                <span id="text_opt"><label wliu text h2>$</label><label id="donate_amount" wliu text h2>0.00</label> <label wliu text h2>CAD</label></span>
                                <span id="span_opt" style="display:none;"><label wliu text h2>$</label> <input wliu fit h3 id="dAmount" style="width:80px; font-size:18px; font-weight:bold; text-align:right;" onchange="changeAmount(this.value)" type="text" value="" /> <label wliu text h2>CAD</label></span>
                                <input type="hidden" id="UserId" value="@PubUser.Id" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top:12px;">
                                <div id="message" style="display:none;">
                                    <p class="message-body"></p>
                                    <a href="javascript:goBack()" class="btn btn-info">@Html.Words("button.back.classlist")</a>
                                </div>
                                <div id="payment_message" style="display:none;">
                                    <p class="message-body"></p>
                                    <a href="javascript:goBack()" style="display:none;" class="btn btn-info">@Html.Words("button.back.classlist")</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top:12px;">
                                <div style="display:block;">
                                    <div id="paypal-button-container"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="50%" valign="top" style="padding-top:12px;">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                @Html.WebContent("right")
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>
    </ng-form>

    <wliu.hint></wliu.hint>
</div>
